[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Sample X509 certificates and private key
[access "refs/*"]
	owner = group user/Raja Ashok (raja-ashok)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Raja Ashok (raja-ashok)
	label-Verified = -1..+1 group user/Raja Ashok (raja-ashok)
	push = group user/Raja Ashok (raja-ashok)
	read = group user/Raja Ashok (raja-ashok)
	rebase = group user/Raja Ashok (raja-ashok)
	removeReviewer = group user/Raja Ashok (raja-ashok)
	submit = group user/Raja Ashok (raja-ashok)
[access "refs/heads/*"]
	create = group user/Raja Ashok (raja-ashok)
	push = +force group user/Raja Ashok (raja-ashok)
	pushMerge = group user/Raja Ashok (raja-ashok)
	read = group user/Raja Ashok (raja-ashok)
[access "refs/tags/*"]
	push = group user/Raja Ashok (raja-ashok)
	push = +force group user/Raja Ashok (raja-ashok)
